// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$primary: #FF5E29;
$secondary: #F7B801;//#F16334;
$primary-dark: #F53D00;
$primary-light: #FFE0D6;
$primary-white: #FFF0EB;
$app-black: #011627;
$app-light: #FDFFFC;